.main
	padding-left: 200px
	background-color: $mainBg

.controls
	+clr
	display: inline-block
	width: 100%
	margin: 26px 0 34px
	&__btn
		float: right

.selected
	margin-left: 20px
	display: inline-block
	vertical-align: middle
	&__counter,
	&__text
		display: inline-block
		vertical-align: middle
		font-size: 14px
		letter-spacing: 0.130667px
	&__counter
		color: $blue
		margin-right: 10px
		font-style: normal
		font-weight: bold
		line-height: 14px
		color: #3C52C9
	&__text
		font-weight: bold
		line-height: normal
		color: rgba(0, 0, 0, 0.365093)