.btn
	cursor: pointer
	text-decoration: none
	box-sizing: border-box
	font-family: Source Sans Pro
	display: inline-block
	transition: color .33s ease-in-out, background-color .33s ease-in-out
	font-style: normal
	position: relative
	&:active
		top: 1px
	&__icon
		margin-right: 7px