.header
	background-color: $white
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0465919)
	padding: 15px 0
	text-align: center
	display: inline-block
	width: 100%
	&__btn
		color: $blue
		display: inline-block
		vertical-align: middle
		float: left
		border-radius: 3px
		font-weight: bold
		line-height: 13px
		font-size: 12.6px
		letter-spacing: 0.1176px
		color: $blue
		padding: 8px 14px
		border: 1px solid $blue
		box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.110479)
		&:hover
			color: $white
			background-color: $blue
		.btn__icon
			fill: none
			stroke: currentColor
			font-size: 8px
	&__title
		font-size: 16px
		display: inline-block
		vertical-align: middle
		font-family: Source Sans Pro
		font-style: normal
		font-weight: bold
		line-height: 1.93
		font-size: 16px
		text-align: center
		text-transform: uppercase
		color: #6B7DEA